<div class="trillo-table" data-category="Tables">
  <table data-container class="table">
    <thead>
      <tr data-table-header>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr data-table-row>
        <td data-component="readonly" data-category="Columns">
          <span data-field></span>
        </td>
        <td data-component="text" data-category="Columns">
          <input data-field type="text" class="form-control">
        </td>
        <td data-component="checkbox" data-category="Columns">
          <div class="custom-control custom-checkbox">
            <input data-field type="checkbox" class="custom-control-input" id="use-name">
            <label data-label class="custom-control-label">Checkbox</label>
          </div>
        </td>
        <td data-radios-container data-component="radio" data-category="Columns">
          <div data-radio-container class="custom-control custom-radio">
            <input data-field type="radio" id="use-name" name="use-name" class="custom-control-input">
            <label data-label data-radio-label class="custom-control-label">Radio</label>
          </div>
        </td>
        <td data-component="radio-inline" data-category="Columns">
          <div data-radio-container class="custom-control custom-radio custom-control-inline">
            <input data-field type="radio" id="use-name" name="use-name" class="custom-control-input">
            <label data-label data-radio-label class="custom-control-label">Radio</label>
          </div>
        </td>
        <td data-component="select" data-category="Columns">
          <select data-field class="form-control custom-select">
            <option>1</option>
            <option>2</option>
          </select>
        </td>
        <td data-component="multi-select" data-category="Columns">
          <select multiple data-field class="form-control">
            <option>1</option>
            <option>2</option>
          </select>
        </td>
        <td data-component="textarea" data-category="Columns">
          <textarea data-field class="form-control" rows="2"></textarea>
        </td>
        <td data-component="number" data-category="Columns">
          <input data-field type="number" class="form-control">
        </td>
        <td data-component="email" data-category="Columns">
          <input data-field type="email" class="form-control">
        </td>
        <td data-component="password" data-category="Columns">
          <input data-field type="password" class="form-control">
        </td>
        <td data-component="datetime" data-category="Columns">
          <input data-field type="text" class="form-control">
        </td>
        <td data-component="datetime-local" data-category="Columns">
          <input data-field type="text" class="form-control">
        </td>
        <td data-component="date" data-category="Columns">
          <input data-field type="text" class="form-control">
        </td>
        <td data-component="time" data-category="Columns">
          <input data-field type="text" class="form-control flatpickr-input">
        </td>
        <td data-component="month" data-category="Columns">
          <input data-field type="text" dataFormat="F Y" class="form-control">
        </td>
        <td data-component="url" data-category="Columns">
          <input data-field type="url" class="form-control">
        </td>
        <td data-component="tel" data-category="Columns">
          <input data-field type="tel" class="form-control">
        </td>
        <td data-component="button" data-category="Columns">
          <button type="button" class="btn btn-primary">Button</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
