<div class="trillo-table"  data-category="Tables">
  <div>
    <table data-container class="table table-striped table-bordered">
      <thead>
        <tr data-table-header>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr data-table-row>
          <td data-component="readonly" data-category="Columns">
            <span data-field></span>
          </td>
          <td data-component="checkbox" data-category="Columns">
            <div class="custom-control custom-checkbox">
              <input data-field type="checkbox" class="custom-control-input" id="use-name">
              <label data-label class="custom-control-label">Checkbox</label>
            </div>
          </td>
          <td data-radios-container data-component="radio" data-category="Columns">
            <div data-radio-container class="custom-control custom-radio">
              <input data-field type="radio" id="use-name" name="use-name" class="custom-control-input">
              <label data-label data-radio-label class="custom-control-label">Radio</label>
            </div>
          </td>
          <td data-component="select" data-category="Columns">
            <select disabled data-field class="form-control custom-select">
            <option>1</option>
            <option>2</option>
          </select>
          </td>
          <td data-component="datetime" data-category="Columns">
            <span data-field format="M/D/YY - h:mm A"></span>
          </td>
          <td data-component="datetime-local" data-category="Columns">
            <span data-field format="M/D/YY - h:mm A"></span>
          </td>
          <td data-component="date" data-category="Columns">
            <span data-field format="M/D/YY"></span>
          </td>
          <td data-component="time" data-category="Columns">
            <span data-field format="h:mm A"></span>
          </td>
          <td data-component="button" data-category="Columns">
            <button type="button" class="btn btn-sm btn-primary">Button</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
